<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Mercado Liebre</title>
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/94366fedd3.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="/css/normalize.css">
 <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
 <header class="mainHeader">
  <div class="mainHeaderTopBar">
  <img src="/images/logo-mercado-liebre.svg" alt="" class="logo">
  <form action="" method="post" class="barraBusqueda">
  <input type="text" class="busqueda">
  <button class="lupita"><i class="fa-solid fa-magnifying-glass lupa"></i> </button>
</form>
   <h2 class="compraEnCuotas">
    <i class="fa-solid fa-hand-holding-dollar manoPlata"></i>
    Comprá en cuotas y sin tarjeta de crédito
   </h2>
  </div>
   <nav class="primerosLinks">
    <ul class="leftNavBar">
     <li><a href="#">Ofertas</a></li>
     <li><a href="#">Tiendas oficiales</a></li>
     <li><a href="#">Vender</a></li>
     <li><a href="#">Ayuda</a></li>
    
    </ul>
    <ul class="rightNavBar">
     <li><a href="/register.html">Creá tu cuenta</a><i class="fa-regular fa-id-card dni"></i></li>
     <li><a href="/login.html">Ingresá</a><i class="fa-solid fa-right-to-bracket iconoFlecha"></i></li>
     <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping canasta"></i></li>
    </ul>
    </nav>
    <div class="burger-menu">
     <i class="fas fa-bars"></i>
    </div>
 
</header>

 <main>
  <div class="imagen-separadora-box">
    <img src="/images/img-home-banner.jpg" class="banner">
  </div>
  <section>
   
   <h4 class="titularesSecciones">Basado en tu última visita</h4>
   <div class="articles">
       <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="" class="article-img">
       <div class="pie">
        <i class="fa-solid fa-truck camion"></i>
        <span class="precio">$6.770</span>
        <span class="descuento">40% OFF</span>
        <b class="producto">Cafetera Moulinex</b>
       </div>
       </article>
       
       <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="" class="article-img">
       <div class="pie">
        <i class="fa-solid fa-truck camion"></i>
        <span class="precio">$230.000</span>
        <span class="descuento">20% off</span>
        <b class="producto">MacBook Pro 2019</b>
       </div>
       </article>
       
       <article>
        <img src="/images/img-samsung-galaxy-s10.jpg"  alt="" class="article-img">
       <div class="pie">
        <i class="fa-solid fa-truck camion"></i>
        <span class="precio">$70.500</span>
        <span class="descuento">10% off</span>
        <b class="producto">Samsung Galaxy S10</b>
       </div>
       </article>
       
       <article>
        <img src="/images/img-tv-samsung-smart.jpg"  alt="" class="article-img">
       <div class="pie">
        <i class="fa-solid fa-truck camion"></i>
        <span class="precio">$23.200</span>
        <span class="descuento">5% off</span>
        <b class="producto">SmartTv Samsung 43"</b>
       </div>
       </article>
       </div>
      </section>
      <section>
       <h4 class="titularesSecciones">Sección de Ofertas</h4>
       <div class="articles">
       <article>
       <img src="/images/img-cafetera-moulinex.jpg" alt="" class="article-img">
       <div class="pie">
        <i class="fa-solid fa-truck camion"></i>
        <span class="precio">$6.770</span>
        <span class="descuento">40% OFF</span>
        <b class="producto">Cafetera Moulinex</b>
       </div>
       </article>
       
       <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="" class="article-img">
        <div class="pie">
        <i class="fa-solid fa-truck camion"></i>
        <span class="precio">$230.000</span>
        <span class="descuento">20% off</span>
        <b class="producto">MacBook Pro 2019</b>
       </div>
       </article>
       
       <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="article-img">
        <div class="pie">
        <i class="fa-solid fa-truck camion"></i>
        <span class="precio">$70.500</span>
        <span class="descuento">10% off</span>
        <b class="producto">Samsung Galaxy S10</b>
       </div>
       </article>
       
       <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="" class="article-img">
        <div class="pie">
        <i class="fa-solid fa-truck camion"></i>
        <span class="precio">$23.200</span>
        <span class="descuento">5% off</span>
        <b class="producto">SmartTv Samsung 43"</b>
        </article>
   </div>
  </section>
 
 </main>
 <footer>
  <section>
   <i class="fa-solid fa-credit-card tarjetaCredito"></i>
   <h4>Pagá con tarjeta o en efectivo</h4>
   <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
  </section>
  
  <section>
   <i class="fa-solid fa-gift regalo"></i>
   <h4>Envío gratis desde $ 2.500</h4>
   <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
  </section>
  
  <section>
   <i class="fa-solid fa-user-shield seguridad"></i>
   <h4>Seguridad, de principio a fin</h4>
   <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
   <p>porque estás siempre protegid@.</p>
  </section>
  
  <section>
   <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
  </section>
  
 </footer>
</body>
</html>
