body {
    background-color: #ccc;
  }
  
  .formulario-registro-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .registro-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  